.profile__container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.balance__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'eth leo usdt'
                         'nft nft nft';
    gap: 20px;
}

.card {
    padding: 10px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__symbol {
    font-size: 45px;
}

.card__balance {
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card.card--eth {
    grid-area: eth;
    border: 2px solid #636890;
    box-shadow: 0 2px 5px 0 #636890;
    color: #636890;
}

.card.card--leo {
    grid-area: leo;
    border: 2px solid gold;
    box-shadow: 0 2px 5px 0 gold;
    color: gold;
}

.card.card--usdt {
    grid-area: usdt;
    border: 2px solid #399779;
    box-shadow: 0 2px 5px 0 #399779;
    color: #399779;
}

.usdt--mint {
    display: inline-block;
    font-size: 17px;
    border: 2px solid #399779;
    padding: 0 5px;
    cursor: pointer;
}

.leo--buy {
    display: inline-block;
    font-size: 17px;
    border: 2px solid gold;
    padding: 0 5px;
    cursor: pointer;
}

.card.card--nft {
    grid-area: nft;
    border: 2px solid black;
    box-shadow: 0 2px 5px 0 black;
    color: black;
}

.card p, .card h3 {
    padding: 0;
    margin: 0;
}

.owner {
    position: absolute;
    bottom: 20px;
    width: 450px;
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
    background-color: ghostwhite;
}

.owner--withdraw {
    color: gold;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
